body {
    font-size: 16px;
    background-color: #eeeeee;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding-left: 1em;
}

h1 {
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: .25em;
}

a {
    color: #EE4444;
}

a:hover {
    background-color: #EE4444;
    color: #DDDDDD;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

.uniForm .ctrlHolder{
    /* remove uni-form's border */
    border-bottom: none;
}

#content {
    min-height: 600px;
}

#body {
    margin-top: 10px;
    background-color: #DDDDDD;
    padding: .5em;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#logo {
    width: 200px;
    float: left;
    margin: 5px;
}

#pizza-options {
}

#order-details-content {
    padding: 5px;
}
#order-details h1 {
    font-size: 120%;
    text-align: center;
    margin-top: .5em;
}
#order-details .order-footer {
    text-align: center;
    border-top: solid 1px #BBBBBB;
}

.price, .green {
    color: green;
    font-style: italic;
}

.red {
    color: #EE4444;
}

#login-info, #employee-nav {
    text-align: right;
    font-size: 80%;
}

#address {
    font-size: 80%;
    margin-top: 0;
    padding-top: 0;
}

#special-instructions {
    border: 1px solid white;
}
#special-instructions *, #all-inline * {
    float: left;
    clear: none;
}

#registration-content {
    margin: 1.5em;
}

#registration-content h1 {
    font-size: 160%;
}

header {
    border-bottom: solid 1px #BBBBBB;
}

footer {
    font-size: 80%;
    color: #555555;
    text-align: center;
    margin-top: .5em;
}

.loading {
    color: #EE4444;
}

.accent {
    background-color: #EEEEEE;
    margin-bottom: 4px;
}

.shadowed {
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*#div_id_toppings ul, #div_id_toppings ul > *, #div_id_toppings ul > li > * {
    display: inline;
    width: 100%;
}*/

.title-header {
    text-shadow: 0px 0px 4px #000;
}

.alt {
    color: #990000;
}

#checkout-form .ctrlHolder {
    padding: .25em;
    padding-left: 1em;
}

#order-location {
    padding: .5em;
}
