{% extends "order/base.html" %}

{% block page_title %}Active Orders{% endblock %}

{% block content %}
    <table id="order-status" class="shadowed accent">
        <caption>Active Orders</caption>
        <thead>
            <tr>
                <th>Time Elapsed</th>
                <th>Order Completed</th>
                <th>Description</th>
                <th>Cost</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for order in orders %}
        <tr id="order-{{order.id}}">
            <td class="elapsed"><span class="loading">Loading...</span></td>
            <td class="is_complete"><span class="loading">Loading...</span></td>
            <td>{{order}}</td>
            <td><span class="price">${{order.cost}}</span></td>
            <td><a href="{% url order_details order.id %}">Details</a></td>
            <td>
                <form action="{% url complete_order order.id %}">
                    <input type="submit" name="complete-order" value="Mark Complete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script>
        $("tr[id^=order-]").pizzeriaOrderStatus();
    </script>
{% endblock %}
