{% extends "order/base.html" %}
{% load uni_form_tags %}

{% block page_title %}Checkout{% endblock %}

{% block content %}
    <div id="checkout-details" class="span-12">
        <div class="alt">Please confirm your order.</div>
        {% if order.pizzas.all.count > 0 %}
        <ul>
            {% for pizza in order.pizzas.all %}
            <li class="shadowed accent">
                {{pizza}} - <span class="price">${{pizza.cost}}</span>
                {% if pizza.toppings.all.count > 0 %}
                <ul>
                    {% for topping in pizza.toppings.all %}
                    <li>
                        {{topping}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div>
            Total: <span class="price">${{order.cost}}</span>
        </div>
        {% else %}
        There are no pizzas in your order.  If you're hungry, add some!
        {% endif %}

    </div>
    <div id="checkout-form" class="shadowed accent span-12 last">
        {% uni_form form form.helper %}
    </div>
{% endblock %}
